# Compiled class file
*.class

#target files
/target/*
/*/target/*

#binary output files
/bin/*
/*/bin/
/out/*
/*/out/*

#build files
/build/*
/*/build/*

# Ignore intelij files
/.idea/*
/*.iml
/*/*.iml
/*/*/*.iml

build.properties
.classpath
.externalToolBuilders
.gradle
ide-build-info.properties
**/.project
rebel.xml

.settings

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
